.cita {
    padding: 2rem;
    background: white;
    border-bottom: 1px solid #e1e1e1;
    color: black;
    margin-bottom: 20px;
    width: 100%;
}
  
.cita span {
    font-weight: bold;
    margin-bottom: .8rem;
}
  
.cita p{
    display: inline-block;
}

.cita:first-of-type {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.cita:last-of-type {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.botoneliminar {
    border: 1px solid #bbb;
    color: #555;
    margin-top: 2rem;
    width: 100%;
    padding: 0 30px;
    height: 38px;
    background-color: white;
}

.botoneliminar:hover {
    cursor: pointer;
    background-color: #c10059;
    color: white;
    margin-top: 2rem;
}